<footer class="footer">
    <h6>&copy; 2021. All rights reserved.</h6>

    <div>
        <button mat-icon-button color="primary" aria-label="Facebook Icon">
            <fa-icon [icon]="faFacebookF"></fa-icon>
        </button>

        <button mat-icon-button color="primary" aria-label="Twitter Icon">
            <fa-icon [icon]="faTwitter"></fa-icon>
        </button>

        <button mat-icon-button color="primary" aria-label="Instagram Icon">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </button>
    </div>
</footer>