a {
    color: #2196F3;
    text-decoration: none;
}

h1 {
    font-weight: bold;
    margin-bottom: 42px;
}

h3 {
    font-weight: bold;
}

table {
    border-spacing: 0;
}

#top-content .left-body {
    text-align: center;
}

#bottom-content {
    margin-top: 32px;
}

#top-content .right-body, #bottom-content .left-body, #bottom-content .right-body {
    margin-left: 64px;
    margin-right: 64px;
}

.feature-content, .contact-info {
    margin-bottom: 30px;
}

.feature-content .feature-row {
    vertical-align: top;
}

.feature-icon-container {
    padding-top: 6px;
    width: 48px;
    font-size: 24px;
}

.feature-icon {
    color: #2196F3;
}

.feature-title {
    font-size: 18px;
    font-weight: 500;    
}

.feature-description, .contact-header {
    font-size: 16px;
    color: grey;
}

.mat-radio-button {
    margin: 0px 12px 18px 6px;
}

#top-bar {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#landing-content {
    padding: 16px;
}

#features-content {
    margin-top: 64px;
}

#features-content #features-label {
    background-color: #2196F3; 
    width: fit-content; 
    font-size: 12px; 
    padding-left: 12px;
    padding-right: 12px; 
    color: white; 
    font-weight: bold; 
    border-radius: 12px;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
    .vertical-divider {
        width: 100%;
    }

    #building {
        display: none;
    }

    #features-content {
        margin-top: 0;
    }

    #bottom-content {
        margin-top: 0;
    }

    #bottom-content .left-body, #bottom-content .right-body {
        margin-top: 48px;
    }
}
