<div id="top-bar">
    <a [routerLink]="['/']">
        <h3 class="mat-h3">EduMatch</h3>
    </a>

    <div *ngIf="!isLogin">
        <button mat-stroked-button color="primary" [routerLink]="['/sign_in']">
            Log In
        </button>    
        &nbsp;
        <button mat-flat-button color="primary" [routerLink]="['/sign_up']">
            Sign Up
        </button>
    </div>

    <div *ngIf="isLogin">
        Welcome, {{userEmail}} ({{userId}})!

        <button mat-stroked-button color="primary" (click)="signOut()">
            Log Out
        </button>    
    </div>
</div>

<div>

</div>