<div class="vertical-divider left">
    <div class="left-body">
        <div id="top-bar">
            <a [routerLink]="['/']">
                <h3 class="mat-h3">EduMatch</h3>
            </a>

            <button mat-stroked-button color="primary" [routerLink]="['/sign_in']">
                Sign In
            </button>
        </div>

        <form id="sign-up-form" #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
            <h5 class="mat-h5">Sign Up</h5>
            <h1 class="mat-h1">Create an account</h1>

            <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
                <mat-form-field color="accent" appearance="outline" style='width: 50%;'>
                    <mat-label>First Name</mat-label>
                    <input id="firstName" name="firstName" #firstName="ngModel" type="text" required="true"
                        [(ngModel)]="newUser.firstName" matInput placeholder="First Name" />

                    <mat-hint class="error-message"
                        *ngIf="firstName.invalid && (firstName.dirty || firstName.touched || submitted)">
                        <div *ngIf="firstName.errors?.required">
                            Fisrt Name is required
                        </div>
                    </mat-hint>
                </mat-form-field>

                &nbsp;&nbsp;

                <mat-form-field color="accent" appearance="outline" style="width: 50%;">
                    <mat-label>Last Name</mat-label>
                    <input id="lastName" name="lastName" #lastName="ngModel" type="text" [(ngModel)]="newUser.lastName"
                        required="true" matInput placeholder="Last Name">

                    <mat-hint class="error-message"
                        *ngIf="lastName.invalid && (lastName.dirty || lastName.touched || submitted)">
                        <div *ngIf="lastName.errors?.required">
                            Last Name is required
                        </div>
                    </mat-hint>
                </mat-form-field>
            </div>

            <mat-form-field color="accent" appearance="outline" style='width: 100%;'>
                <mat-label>name@email.com</mat-label>
                <input id="email" name="email" #email="ngModel" type="email" [(ngModel)]="newUser.email" required=true
                    matInput placeholder="Email">
                <mat-icon matSuffix>alternate_email</mat-icon>

                <mat-hint class="error-message" *ngIf="email.invalid && (email.dirty || email.touched || submitted)">
                    <div *ngIf="email.errors?.required">
                        Email is required
                    </div>
                </mat-hint>
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline" style='width: 100%;'>
                <mat-label>Enter your password</mat-label>
                <input id="password" name="password" #password="ngModel" type="password" [(ngModel)]="newUser.password"
                    required=true matInput placeholder="Password">
                <mat-icon matSuffix>lock</mat-icon>

                <mat-hint class="error-message"
                    *ngIf="password.invalid && (password.dirty || password.touched || submitted)">
                    <div *ngIf="password.errors?.required">
                        Password is required
                    </div>
                </mat-hint>
            </mat-form-field>

            <button type="submit" mat-flat-button color="primary" style="width: 100%; margin-top: 16px;">
                Sign Up
            </button>
        </form>

        <div class="response-message success-message" *ngIf="resultSuccess">
            <h4 class="mat-h4">{{message}}</h4>
        </div>

        <div class="response-message error-message" *ngIf="resultError">
            <h4 class="mat-h4">{{message}}</h4>
        </div>
    </div>
</div>

<div class="vertical-divider right">
    <img id="walking-dog-image" src="../../assets/walking_dog.png" alt="Walking Dog" width="1000px" height="700px" />
</div>

<div style="clear: both;"></div>