a {
    color: #2196F3;
    text-decoration: none;
}

h3 {
    font-weight: bold;
}

#sign-up-form .mat-h5 {
    color: grey;
}

.left-body {
    padding-top: 32px;
    padding-left: 64px;
    padding-right: 64px;
}
  
#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sign-up-form {
    margin-top: 64px;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
    #walking-dog-image {
        display: none;
    }

    .vertical-divider {
        width: 100%;
    }
}

