a {
    color: #2196F3;
    text-decoration: none;
}

h3 {
    font-weight: bold;
}

#sign-up-form .mat-h5 {
    color: grey;
}

.vertical-divider {
    width: 50%;
}
  
.left {
    float: left;
}

.left-body {
    padding-left: 32px;
    padding-right: 32px;
}
  
.right {
    float: right;
}

.response-message {
    margin-top: 16px;
}

.success-message {
    color: #4CAF50;
}

.error-message {
    color: #F44336;
}
  
#top-bar {
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sign-up-form {
    margin-top: 64px;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
    #walking-dog-image {
        display: none;
    }

    .vertical-divider {
        width: 100%;
    }
}

