/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    /* margin: 32px;
    padding-left: 32px;
    padding-right: 32px; */
}

.response-message {
    margin-top: 16px;
}

.success-message {
    color: #4CAF50;
}

.error-message {
    color: #F44336;
}